.pwd-page {
    text-align: center;
}

.pwd-page h2 {
    margin-bottom: 25px;
    color: #222222;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: -5px;
}

.theme-form input {
    border-color: #dddddd;
    font-size: 15px;
    padding: 15px 25px;
    margin-bottom: 15px;
    height: inherit;
    text-align: center;
    border-radius: 25px;
}